<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Add question</title>
</head>
<body>

<ul>
<th:block th:each="lst : ${taskLists}">
    <li>
    <table><tr>
        <td th:text="${lst.getId()}"/>
        <td th:text="${lst.getName()}"/>
        <td>
            <form th:object="${taskData}" method="POST" action="/add-task">
                <input type="hidden" th:value="${lst.getId()}" th:name="id">
                <input type="text" th:field="*{description}">
                <input type="submit" value="add">
            </form>
        </td>
    </tr></table>
    <ul>
        <th:block th:each="it : ${lst.getTasks()}">
            <li>
                <table><tr>
                    <td>
                        <form th:object="${doData}" method="POST" action="/toggle-done">
                        <input type="hidden" th:value="${lst.getId()}" th:name="lstId">
                        <input type="hidden" th:value="${it.id}" th:name="itId">
                        <input type="checkbox" th:checked="${it.done}" th:name="done"
                            onclick="this.form.submit()"/>
                        </form>
                    </td>
                    <td th:text="${it.description}"/>
                </tr></table>
            </li>
        </th:block>
    </ul>
    </li>
</th:block>
</ul>

<h3>Add new task list</h3>
<form th:object="${listData}" method="POST" action="/add-task-list">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
    </table>

    <input type="submit" value="add">
</form>

</body>
</html>
